<section class="block block-hero-2"
{% if section.background_image %}
style="background-image: url('{{ section.background_image | relative_url }}')"
{% endif %}>
  <div class="container">
    <div class="columns">
      {% if section.media_alignment == "Right" %}
        <div class="column text">
          <h1><span class="light">{{ section.headline }}</span></h1>
          <p>{{ section.subtitle }}</p>
          {% if section.content_file %}
            <div class="section-content_file">
            {% capture content_md %}{% include {{ section.content_file }} %}{% endcapture %}
            {{ content_md | markdownify }}
            </div>
          {% else %}
            <p>{{ section.content }}</p>
          {% endif %}
          {% if section.cta and section.cta.enabled == true %}
          <a class="button primary inverted" href="{{ section.cta.url | relative_url }}">{{ section.cta.button_text }}</a>
          {% endif %}
        </div>
        <div class="column media">
          <img src="{{ section.image.image | relative_url }}" alt="{{ section.image.alt_text }}" loading="lazy">
        </div>
      {% else %}
        <div class="column media">
          <img src="{{ section.image.image | relative_url }}" alt="{{ section.image.alt_text }}" loading="lazy">
        </div>
        <div class="column text">
          <h1><span class="light">{{ section.headline }}</span></h1>
          <p>{{ section.content }}</p>
          {% if section.cta and section.cta.enabled == true %}
          <a class="button primary inverted" href="{{ section.cta.url | relative_url }}">{{ section.cta.button_text }}</a>
          {% endif %}
        </div>
      {% endif %}
    </div>
  </div>
</section>
