<section id="{{ section.slug | slugify }}" class="block block-one-column-1">
  <div class="container">
    <div class="columns">
      <div class="column">
        <h2>{{ section.headline }}</h2>
          {% if section.content_file %}
            <div class="section-content_file">
            {% capture content_md %}{% include {{ section.content_file }} %}{% endcapture %}
            {{ content_md | markdownify }}
            </div>
          {% else %}
            <p>{{ section.content }}</p>
          {% endif %}
      </div>
    </div>
  </div>
</section>
