<section class="blog-list">
  <div class="container">
      {% for post in site.posts %}
        <article class="post-preview">
          <div class="columns">
            <div class="column text">
              <h2><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>
              <time>{{ post.date | date: "%B %d, %Y" }}</time>
            </div>
            <div class="column media">
              {{ post.excerpt }}
            </div>
          </div>
        </article>
      {% endfor %}
  </div>
</section>
