{% if section.media_alignment and section.media_alignment == "Left" %}
{% include block-feature-2.html %}
{% else %}
<section id="{{ section.slug | slugify }}" class="block block-feature-1">
  <div class="container">
    <div class="columns">
      <div class="column text">
        <h2>{{ section.headline }}</h2>
        {% if section.content_file %}
          <div class="section-content_file">
          {% capture content_md %}{% include {{ section.content_file }} %}{% endcapture %}
          {{ content_md | markdownify }}
          </div>
        {% else %}
        <p>{{ section.content }}</p>
        <ul>
          {% for element in section.details %}
            {% if element.text %}
              <li><strong>{{ element.title }}:</strong>&nbsp;{{ element.text }}</li>
            {% else %}
              <li><strong>{{ element.title }}</strong></li>
            {% endif %}
          {% endfor %}
        </ul>
        {% endif %}
      </div>
      <div class="column media">
        <img src="{{ section.media.image | relative_url }}" alt="{{ section.media.alt_text }}" loading="lazy">
      </div>
    </div>
  </div>
</section>
{% endif %}
