<section id="{{ section.slug | slugify }}" class="block block-feature-2">
  <div class="container">
    <div class="columns">
      <div class="column media">
          <img src="{{ section.media.image | relative_url }}" alt="{{ section.media.alt_text }}" loading="lazy">
      </div>
      <div class="column text">
        <h2>{{ section.headline }}</h2>
        <p>{{ section.content }}</p>
        <ul>
          {% for element in section.details %}
            {% if element.text %}
              <li><strong>{{ element.title }}:</strong>&nbsp;{{ element.text }}</li>
            {% else %}
              <li><strong>{{ element.title }}</strong></li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>
